@{
    ViewBag.Title = "Home Page";
}

<h3>Lista de pessoas</h3>

<table>
    <tr>
        <td style="min-width:80px;"><b>ID</b></td>
        <td style="min-width:80px;"><b>Name</b></td>
        <td style="min-width:80px;"><b>Nick</b></td>
        <td style="min-width:80px;"><b>Age</b></td>
        <td style="min-width:80px;"><b></b></td>
    </tr>

    @foreach (WebApplication1.Models.Person p in @ViewBag.list)
    {
        <tr>
            <td>@p.Id</td>
            <td>@p.Name</td>
            <td>@p.Nick</td>
            <td>@p.Age</td>
            <td>
                <form action="Home/Delete/" method="post">
                    <fieldset>
                        <div>
                            <input type="hidden" name="id" value="@p.Id" />
                            <input type="submit" value="Delete" />
                        </div>
                    </fieldset>
                </form>
            </td>
        </tr>
    }
</table>

<br />
<form action="Home/Create/" method="post">
    <fieldset>
        <div>
            <input type="text" name="name" placeholder="First Name" />
            <input type="text" name="nick" placeholder="Nickname" />
            <input type="number" name="age" placeholder="Age" />
            <input type="submit" value="Add" />
        </div>
    </fieldset>
</form>